
/*  Keep this in step with dlgMainTheme.js.
*/

html {
    height:  100%;
    width:  100%;
    box-sizing: border-box;
    }

body {
    height:  100%;
    margin:  0px;

    background-color: #fef8d2;
    color:       black;

    font-family: Open Sans, Arial, Helvetica, sans;
    font-size:   11pt;
}

/* This must be repeated to override the FF system overrides */
input, textarea {
    font-family: Open Sans, Arial, Helvetica, sans;
    font-size:   11pt;
    }

::-moz-selection {
    background-color: lightblue;
}

.errorMessage {
    color: red;
    }

*[draggable="true"] {
    font-weight: bold;
    }

.heading {
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 10px;
    }

.tableHeading {
    font-weight: bold;
    background-color: lightblue;
    }

/*======================================================================*/
/* Tabs */

/* #fe9000 is the orange for highlighting.
*/

#tabcontainer {
    height:  100%;
    display: flex;
    }

#tabs button {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px blue;
    background-image: linear-gradient(#ffffff, #c0c0c0);
}

#tabs button[selected="true"] {
    box-shadow: 3px 3px #fe9000;
}


#tabs {
    align-self:     stretch;    /* stretch this div down to the bottom */

    padding-left:   20px;
    padding-right:  20px;
    padding-top:    10px;
    padding-bottom: 10px;       /* subtract the margin where possible */
    margin-right:   10px;
    background-color: lightblue;

    display:        flex;
    flex-direction: column;     /* place tabs vertically */
    flex:           none;       /* don't flex horizontally */
    }


#rightside {
    flex: 1;
    }

#rightside * {
    flex: none;                 /* stop text from shrinking */
    }

.tabcontent[hide="true"] {
    display: none
    }

/*======================================================================*/
/* For the Group Edit pane */

#groupEditView {
    overflow: auto;
    }

#groupEditView td {
    vertical-align: top;
    }

.openIcon {
    color: black;
    width: 12px;
    height: 12px;
    }

*[data-selected-level="true"] {
    background-color: #fe9000 !important;   /* orange */
}

.line, .part, .group {
    margin-top: 2px;
    margin-bottom: 2px;
    }

*[data-open-level="false"] {
    display: none
    }

.openableLevel {
    position: relative;
    }

.openableBox {
    position: absolute;
    }

.openableContainer {
    margin-left: 20px;
    }

/* An editable input does not have a 'readonly' attribute. */
input, textarea {
    background-color: #cdfefd;      /* light blue */
    border-color: black;            /* REVISIT no longer used */
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    }

input[readonly="true"], textarea[readonly="true"] {
    background-color: transparent;
    border-style: none;
    }

.fixedTitle {
    font-style: italic;
    }

.titleLabel {
    margin-right: 0.5em;
    }

.enabledIcon {
    margin-left:  10px;
    margin-right: 10px;
    align-self:   center;
    }

.shade table {
    background-color: #b0ffb0;      /* light green */
    margin-bottom: 0px;
    }

/*======================================================================*/
/* For the Catalog pane */

#catalogRoot thead td {
    padding-left: 5px;
    padding-right: 5px;
    }

#catalogRoot button:disabled {
    color: GrayText;
    }

/*======================================================================*/
/* For the Admin pane */

#backupSection button{
    margin-left:   40px;
    margin-top:    5px;
    margin-bottom: 5px;
    }

/*======================================================================*/
/* For the Activity pane */

.activityHeading {
    font-weight: bold;
    }
