
#testCase .label {
    font-weight: bold;
    }

#testCase thead {
    background-color: lightblue;
    }

#topTable {
    border-collapse:  collapse;
    border-spacing:  10px;
    width:  70%;
    }

#topTable td, #topTable th {
    margin-top:    20px;
    padding-left:  10px;
    padding-right: 10px;
    padding-top:    10px;
    padding-bottom: 10px;
    vertical-align:    top;

    border-style:    solid;
    border-width:     1px;
    border-color:    black;
    }


#stepTable {
    margin-top: 30px;
    width: 90%;
    }

#stepTable td {
    padding:  10px;
    padding: 10px;
    vertical-align:    top;
    }

#headerData {
    display: none;
    }

#stepData {
    display: none;
    }
